.content {
    padding-top: 200px;
    position: absolute;
    z-index: 0;
}

.header {
    font-size: 30px;
    cursor: default;
}
@media (min-width: 1050px) {
  .header {
    font-size: 60px;
  }
}

p {
  cursor: default;
}

.main_pic {
    padding-top: 30px;
    width: 300px;
}
@media (min-width: 1050px) {
  .main_pic {
    width: 500px;
  }
}

.description2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.description2 > p {
  font-size: 8px;
}
@media (min-width: 1050px) {
  .description2 > p {
    font-size: 15px;
  }
}

.note1 {
  position: absolute;
  top: 90px;
  right: 60px;
  width: 15px;
}

.note2 {
  position: absolute;
  top: 160px;
  right: 10px;
  width: 12px;
}

.note3 {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 8px;
}

.note4 {
  position: absolute;
  top: 130px;
  right: 50px;
  width: 15px;
}
@media (min-width: 1050px) {
  .note1 {
    width: 30px;
    top: 150px;
    right: 80px;
  }
  .note2 {
    width: 25px;
    top: 270px;
    right: -40px;
  }
  .note3 {
    width: 17px;
    top: 170px;
    right: -30px;

  }
  .note4 {
    width: 30px;
    top: 230px;
    right: 50px;
  }
}


@media (prefers-reduced-motion: no-preference) {
    .note1 {
      animation: note1Anim infinite 2s ease-out;
      animation-direction: alternate-reverse;
    }
}
@keyframes note1Anim {
    from {
      opacity: 0;
      scale: 100%;
      rotate: -10deg;
    }
    to {
      opacity: 1;
      scale: 110%;
      rotate: 10deg;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .note2 {
      animation: note2Anim infinite 2s ease-out;
      animation-direction: alternate-reverse;
    }
}
@keyframes note2Anim {
    from {
      opacity: 1;
      scale: 110%;
      rotate: 0deg;
    }
    to {
      opacity: 0;
      scale: 90%;
      rotate: -10deg;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .note3 {
      animation: note3Anim infinite 4s ease-in;
      animation-direction: alternate-reverse;
    }
}
@keyframes note3Anim {
    from {
        opacity: 0;
        scale: 90%;
        rotate: 0deg;
    }
    to {
        opacity: 1;
        scale: 120%;
        rotate: -20deg;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .note4 {
      animation: note3Anim infinite 3s ease-in;
      animation-direction: alternate-reverse;
    }
}
@keyframes note3Anim {
    from {
      opacity: 1;
      scale: 140%;
      rotate: -20deg;
    }
    to {
      opacity: 0;
      scale: 100%;
      rotate: 0deg;
    }
}

